.product-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.product-full-width {
    width: 100%;
}
// .heading{
//     display: flex;
//     justify-content: center;
// }
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}